<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axis.Crux.VSpec" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Axis.Luna" version="3.1.0" targetFramework="net452" />
  <package id="Axis.Nix" version="1.0.0" targetFramework="net452" />
  <package id="Axis.Proteus" version="1.0.0" targetFramework="net452" />
  <package id="Axis.Rhea" version="1.0.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net452" />
</packages>