<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axis.Luna" version="3.1.0" targetFramework="net461" />
  <package id="Axis.Nix" version="1.0.1" targetFramework="net461" />
  <package id="Axis.Proteus" version="1.0.2" targetFramework="net461" />
  <package id="Axis.Rhea" version="1.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net461" />
</packages>