<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axis.Luna.Extensions" version="4.0.3" targetFramework="net461" />
  <package id="Axis.Luna.Operation" version="4.0.0" targetFramework="net461" />
  <package id="Axis.Proteus" version="4.0.0" targetFramework="net461" />
  <package id="Axis.Proteus.SimpleInjector" version="4.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net461" />
</packages>